body {
	background: linear-gradient(#f09, #3023AE, #0ff);

}

header {
	font-size: 15px;
}

.titulo-centralizado {
	text-align: center;
}

#capa {
	width: 100%;
	}

#objetivo {
	 font-weight: bold;
}

h1 {
	padding: 20px;
}

p {
	text-align: center;
	color: black;
}

h2 {
	padding: 20px;
}

h3 {
	padding: 20px;
}